body{
        background: url(nah.jpg);
        background-size: cover;
    }
/* Bagian Main */
    .middle{
        width: 500px;
        padding: 10px;
        margin: 10px;
        float: left;
    }
    img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 190px;
  clear: both;
}

h1{
 color: rgb(255, 255, 255);
  position: fixed;
  z-index: 1;
  height: 13em;
  width: 9.5em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 18%;
  bottom: 5%;
  right: 0;
  font-size: 7vw;
  -webkit-text-stroke: 3px rgb(255, 255, 255);
  text-shadow: 4px 4px 10px rgba(100, 255, 65, 0.6),
               4px 4px 20px rgba(100, 255, 65, 0.6),
               4px 4px 30px rgba(100, 255, 65, 0.6),
               4px 4px 40px rgba(100, 255, 65, 0.6);
}
#watch {
  color: rgb(255, 255, 255);
  position: fixed;
  z-index: 1;
  height: 5.3em;
  width: 3.8em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 15vw;
  -webkit-text-stroke: 3px rgb(255, 255, 255);
  text-shadow: 4px 4px 10px rgba(100, 255, 65, 0.6),
               4px 4px 20px rgba(100, 255, 65, 0.6),
               4px 4px 30px rgba(100, 255, 65, 0.6),
               4px 4px 40px rgba(100, 255, 65, 0.6);
}
@media screen and (max-width: 780px) {

    
    .header, 
    .footer{
        text-align: center;
    }
    .left {
        width: auto;
        float: none;
    }
    
    .middle {
        width: auto;
        float: none;
    }
    
    .right {
        width: auto;
        float: none;
    }

}
